
body{
    background-color: rgb(46, 40, 59) ;    
}
h1{
    text-align: center;
    font-family: "Oswald", sans-serif;
    background-color: rgb(26, 21, 36);
    color: ivory;
}
.artista{
    padding-top: 0px;
    margin-top: 0px;
}
.foto-artista{
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    gap: 0px
}

.info-artista{
    margin-top: 10px;
    padding-left: 20px;
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 15px;
    list-style: none;
}

.info-artista li{
    font-size: 25px;
    color: ivory;
}

.canciones-artista li{
    font-size: 25px;
}

.billie1{
    border-radius: 50%;
    border: solid 5px rgb(81, 185, 226);
    width: 100%;
}

h2{
    display: block;
    text-align: center;
    background-color: rgb(26, 21, 36);
    color: ivory;
}

b{
    font-family: "Oswald", sans-serif;
    padding-left: 25px;
}
p{
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    color: ivory;
}

i{
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin-top: 0px;
}
.headings{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    
}

.cancion{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    border-bottom: solid 5px ivory;
}

@media only screen and (min-width: 768px){
    h1{
        font-size: 50px;
    }
    
    .foto-artista{
        display: grid;
        grid-template-columns: 90%;
    }

    h2 b{ 
        font-size: 30px;
    }
    .titulo p{
        font-size: 35px;
        margin-top: 20px;
    }
    .titulo i{
        margin-top: -14px;
    }
}

@media only screen and (min-width: 1024px){
    h1{
        font-size: 70px;
    }
    .trackImage {
        width: 40%;
    }

    .perfil-artista{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .foto-artista{
        display: grid;
        grid-template-columns: 70%;
        align-items: center;
    }

    .info-artista li{
        font-size: 35px ;
    }
  
    .titulo p {
        padding-top: 12px;
        font-size: 35px;
    }
    .titulo i{
        margin-top: 0px;
    }
    .opcion-botones{ 
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 20px;
    }
}