
h1{
    text-align: center;
    font-family: "Oswald", sans-serif;
}
.artista{
    padding-top: 0px;
    margin-top: 0px;
    height: 150vh;

}
.foto-artista{
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    gap: 0px
}

.info-artista{
    margin-top: 10px;
    padding-left: 20px;
    display: grid;
    grid-template-rows: 15vh 25vh;
    list-style: none;
}

.info-artista li{
    font-size: 25px;
}

.canciones-artista li{
    font-size: 25px;
}

.canciones-artista li audio{
    width: 100%;
}

.billie1{
    border-radius: 50%;
    border: solid 5px rgb(230, 147, 40);
}

h2{
    display: block;
    text-align: center;
    background-color: rgb(230, 147, 40);
}

b{
    font-family: "Oswald", sans-serif;
    padding-left: 25px;
}


@media only screen and (min-width: 768px){
    h1{
        font-size: 50px;
    }
    .artista{
        height: 90vh
    }
    .perfil-artista{
        display: grid;
        grid-template-columns: 40% 60%;
    }
    
    .foto-artista{
        display: grid;
        grid-template-columns: 90%;
    }
    .info-artista{
        display: grid;
        grid-template-rows: 10vh 20vh;
    }
    .canciones-artista h2{
        display: block;

    }

    li{
        font-size: 30px
    };
}

@media only screen and (min-width: 1024px){
    h1{
        font-size: 70px;
        margin-bottom: 0px;
    }
    .artista{
        height: 110vh;
        margin-top: 0px;
    }
    .foto-artista{
        display: grid;
        grid-template-columns: 70%;
        align-items: center;
    }
    .info-artista{
        display: grid;
        grid-template-rows: 14vh 27vh;
    }
    .info-artista li{
        font-size: 35px ;
    }
    .canciones-artista li audio{
        display: flex;
        justify-content: flex-end;
    }
    .canciones-artista li{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 5vh 5vh 5vh;
    }
}