body{
    margin: 1px;
}

.container{
    width: 100%;
}

.navegacion{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px;
    list-style: none;
    margin-bottom: 0px;
    width: 100%;
    padding-left: 0px;
    align-items: center;
    background-color: rgb(26, 21, 36);
    margin-top: 0px;
}
.navegacion img{
    display: block;
    margin: 0px;
    height: 80px;
}
.navegacion li{
    text-align: center;
}

li{
    font-family: "Oswald", sans-serif;
    color: ivory;
}
a { text-decoration: none;
color: ivory;

}

.logo{
    height: 100%;
}



form{
        display: flex; 
        height: 10vh;
        justify-content: center;
}

input{
    border: none;
    border-radius: 20px 0 0 20px;
    min-width: 200px;
}

#spinner{
    visibility: hidden;
    width: 80px;
    height: 80px;
  
    border: 2px solid #f3f3f3;
    border-top:3px solid rgb(81, 185, 226);
    border-radius: 100%;
  
    
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
  
    animation: spin 1s infinite linear;
  }

  @keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
  }

  #spinner.show {
    visibility: visible;
  }

button{
    border-radius: 0 20px 20px 0;
}

button i{
    color: black;
    width: 100%;
}

.integrantes{
    list-style: square;
}

footer{
    display: grid;
    grid-template-columns: 2fr 1fr; 
    background-color: rgb(26, 21, 36);
}

.footer-column{
    display: grid;
    grid-template-rows: 50% 50%;
}
.redes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
}
.redes img{
    width: 30%;
    margin-left: 8px;
    border-radius: 50%;
}
.usuario{
    display: none;
    width: 60%;
    background-color: ivory;
    color: black;
    text-align: center;
}
footer p{
    font-family: "Oswald", sans-serif;
    margin-bottom: 2px;
    color: ivory;
}
footer ul{
    align-items: center;

}

.logo-deezer{
    display: block;
    margin-top: 35px;
    border-radius: 50%;
    width: 45%;
}

@media only screen and (min-width: 768px){
    .navegacion{
        display: grid;
        grid-template-rows: 70px;
    }

    .navegacion .logo{
        height: 70px;
        width: 100px;
    }
    .navegacion li {
        font-size: 40px;
        text-align: start;
    }

    .space p{
        font-size: 50px;
    }

    .footer-column p{
        font-size: 25px;
        padding-left: 35px;
    }
    .redes{
        display: grid;
        grid-template-columns: 20% 20% 20%;
        gap: 30px;
        padding-left: 55px;
    }
    footer ul{
        padding-left: 120px;
    }
    footer li{
        font-size: 25px;
    }
    
}
@media only screen and (min-width: 1024px){
    header{
        height: 10vh;
    }
    .navegacion {
        display: grid;
        grid-template-columns: 50% 15% 15% 15% ;
        grid-template-rows: 10vh;
    }

    .navegacion .logo{
        width: 20%;
        height: 10vh;
        display: block;
        padding-left: 0px;
    }

    .navegacion li a{
        font-size: 40px;
    }

    .space p{
        padding-top: 0px;
    }

    input{
        border: none;
        min-width: 400px;
    }

    .footer-column p{
        font-size: 28px;
        padding-left: 53px;
        margin-top: 10px;
    }
    
}


@media only screen and (min-width: 1690px){
p{
    font-size: 60px;
}
section h2 {
    font-size: 55px;
}
input{
    min-width: 900px;
    font-size: 50px;
}
button{
    width: 100px;
}
.redes img {
    width: 21%;}

.footer-column p{
    font-size: 50px;
}
footer li {
    font-size: 50px;
}
}

