
.container{
    background-image: url(../imagenes/music\ notes.jpg);
}

/* Carousel de w3schools*/

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .prev {
      left: 0;
      border-radius: 3px 0 0 3px;
    }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color:white;
    background-color: rgba(34,34,34,0.5);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 12px 2px;
    background-color:#7acfe8;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #316c7d;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
 

h1{
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-size: 25px;
    background-color: rgb(230, 147, 40);
}

h2{
    font-family: "Oswald", sans-serif;
    text-align: center;
    background-color: rgb(230, 147, 40);
    
    
}

.buscador{
    background-color: rgba(230, 148, 40, 0);
    display: block;
    text-align: center;
    border-radius: 0px;
}
.contenido{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    grid-template-rows: 40vh 40vh;
    margin-right: 10px;
}

.contenido div img{
    border-radius: 20%;
}

@media only screen and (min-width: 768px){
    h1{
        font-size: 60px;
    }
    
    h2{
        font-size: 40px;
    }
    .contenido{
        display: grid;
        grid-template-rows: 50vh 50vh;
    }
}

@media only screen and (min-width: 1024px){
    h1{
        font-size: 40px;
    }


    .contenido{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        height: 60vh;
    }
}