
.navegacion{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    justify-content: space-around;

}

li{
    font-family: "Oswald", sans-serif;
}
a { text-decoration: none;
color: #000000;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url(../../Imagenes/Banner-1.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

.name{
    color: rgb(0, 0, 0);
    font-size: 40px;
    letter-spacing: 7px;
    text-align: center;
    font-family: "Oswald", sans-serif;
}
.buscador{
    height: 10vh;
}

h2{
    font-family: "Oswald", sans-serif;
}

.titulos-top{
    font-family: "Oswald", sans-serif;
}
.info-container{ 
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}
.nombres-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 40px;
}
img{
    width: 100%;
}
p{
    font-family: "Oswald", sans-serif;
}

.footer{
    list-style: square;
}