.navegacion{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    justify-content: space-around;

}

li{
    font-family: "Oswald", sans-serif;
}
a { text-decoration: none;
color: #000000;
}

.Banner{
    height: 250px;
    display: grid;
    grid-template-rows: 15% 70% 15%;
}
.banner1{
    width: 100%;
}

.titulos-top{
    font-family: "Oswald", sans-serif;
}
.info-container{ 
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}
.nombres-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 40px;
}
img{
    width: 100%;
}
p{
    font-family: "Oswald", sans-serif;
}

.footer{
    list-style: square;
}