.container{
    display: grid;
    background-image: url(../imagenes/music\ notes.jpg);
}

h1{
    font-family: "Oswald", sans-serif;
        background-color: rgb(230, 147, 40);
        text-align: center;
        font-size: 30px;
}       

.opciones-laptop{
    display: none;
}
.fotos-inicio{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: 20px;
    padding: 5px;
}
.foto4{
    width: 100%;
    height: 100%;
}

h2{
    font-family: "Oswald", sans-serif;
    color: solid black;
    text-align: center;
    font-size: 30px;
}
.modos-canciones{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    border-bottom: black solid 4px;
}
.canciones{
    display: grid;
    grid-template-rows:10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    background-color: white;
}
.opciones-canciones{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-bottom: 25px;
}
.add-song{
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Oswald", sans-serif;
    text-align: center;
    background-color: rgb(230, 147, 40);
}   
.shuffle-mode{
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Oswald", sans-serif;
    text-align: center;
    background-color: rgb(230, 147, 40);
}
.primer-cancion{
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    text-align: center;
    border-bottom: black solid 4px;
    
}
.primer-img{
    width: 100%;
    height: 100%;
}
strong{
    text-align: center;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
}
.estilo{
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    text-align: center;
}
.album{
    display: none;
}
@media only screen and (min-width: 768px){
    .fotos-inicio{
        display: grid;
        margin: 30px;
    }
    .buscador{
        font-size: 30px;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 50px;
    }
    .add-song{
        font-size: 30px;
    }
    .shuffle-mode{
        font-size: 30px;
    }
    strong{
        font-size: 30px;
    }

    .estilo{
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px){
    .laptop{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .opciones-laptop{
        display: grid;
        grid-template-rows: 20px 20px 20px;
    }
    .buscador{
        font-size: 40px;
        justify-content:space-between ;
    }
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 60px;
    }
    .opciones-canciones{
        margin-bottom: 30px;
    }
    .add-song{
        font-size: 40px;
    }
    .shuffle-mode{
        font-size: 50px;
    }
    .canciones{
        display: grid;
    }
    .primer-cancion{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .album{
        display: grid;
        font-size: 30px;
        font-family: "Oswald", sans-serif;
        text-align: center;  
    }
}    
    
