body {
    font-family: "Oswald", sans-serif;
	background-color: rgb(46, 40, 59);
}
p{
    color: ivory;
}

.boton{
    background-color: rgb(26, 21, 36);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.headings{
    display: none;
}

.img-container{
    display: none;
}

.duracion{
    display: none;
}
.album{
    display: none;
}

.track-info{
    width: 90%;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 0px;
}

.track{
    border-bottom: 3px solid ivory;
}
@media only screen and (min-width: 768px){
    .headings{
        display: grid;
        grid-template-columns: 45% 20% 25% 10%;
        justify-content: center;
        align-items: center;

    }

    .headings h3{
        background-color: rgb(26, 21, 36);
        color: ivory;
        font-size: 30px;
    }

    .dur{
        padding-left: 35px;
    }
    .duracion{
        display: block;
        padding-left: 60px;
    }
    .album{
        display: block;
    }
    .track-info{
        display: grid;
        grid-template-columns: 47% 19% 26% 3%;
        justify-content: center;
        gap: 10px;  
    }
 }

 @media only screen and (min-width: 1024px){
    .img-container{
         display: block;
    }
    .track-img{
        border-radius: 100px;
        border: 2px solid rgb(81, 185, 226);
        width: 90%;
    }

    .track-item{
        display: grid;
        grid-template-columns: 5% 90%;
        gap: 0px;
        align-items: center;
    }

    .boton{
        font-size: 30px;
    }

    .track-info{
        width: 100%;
        display: grid;
        grid-template-columns: 5% 39% 21% 23% 10%;
        justify-content: center;
        gap: 0px;
    }
   
 }
 @media only screen and (min-width: 2560px){
 .headings h3 {
    font-size: 85px;
}

}




