body{
    background-color: rgb(46, 40, 59);
}

h1{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    background-color: rgb(26, 21, 36);
    color: ivory;
}

.todo .track{
    margin-top: 20px;
}

.track-image{
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
    
}

.trackImage{
    border: 3px solid rgb(81, 185, 226);
    width: 100%;
}

.info{
    width: 100%;
    display: grid;
    grid-template-columns: 35% 35% 30%;
    padding-left: 15px;

}

.info p{
    font-size: 20px;
    font-family: "Oswald", sans-serif;
}

.add{
    padding: 15%;
}



/*seccion aparece en 1024 recien */

.canciones-recomendadas{
    padding-top: 50px;
}

i{
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: #000000;
}

.titulos-canciones{
    display: grid;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh;
    align-items: center;
}

.titulos-canciones .titulo{
    border-bottom: solid 3px #000000;
    font-size: 23px;
}

.canciones-recomendadas ul{
    list-style: none;
}


.titulo{
    display: grid;
    grid-template-columns: 80% 20%;
}

@media only screen and (min-width: 320px){
    .canciones-recomendadas{
        display: none;
    }
}

@media only screen and (min-width: 768px){
   .track{
       margin-top: 30px;
   }

   h1{
       font-size: 50px;
   }

.info p{
    font-size: 35px;
    padding-left: 45px;
}
}

@media only screen and (min-width: 1024px){
 .todo{
     box-sizing: border-box;
     display: grid;
     grid-template-columns: 60% 30%;
     gap: 30px;

 }

 h1{
     font-size: 45px;
 }
 .info-track {
    margin-top: 20px;
}
    .canciones-recomendadas{
        display: block
    }

    .canciones-recomendadas ul li{
        font-size: 20px;
    }

    .info {
        display: grid;
        grid-template-columns: 40% 40% 20%;
        padding-left: 0px;
    }
   
    .info p{
    font-size: 22px;
    }
}

@media only screen and (min-width: 1425px){
    h1{
        font-size: 45px;
    }
  
    .add{
        padding: 20%;
    }

    .track-image {
        display: grid;
        grid-template-columns: 35%;
}
}

