.container{
    background-image: url(../imagenes/music\ notes.jpg);
    background-position: cover;
}

h1{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    display: inline;
    background-color: rgba(230, 148, 40, 0.767);
    border-radius: 15px;
    margin-left: 85px;
}

.todo .track{
    height: 80vh;
    margin-top: 20px;
}

.info-track{
    height: 75vh;
    display: grid;
    grid-template-rows: 70% 15% 15%;
    align-items: center;
    
}

.track-image{
    display: grid;
    grid-template-columns: 85%;
    justify-content: center;
}

.info{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 40px;

}

.info p{
    font-size: 20px;
    font-family: "Oswald", sans-serif;
}
.cancion{
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    justify-content: center;
}

div i{
    color: #000000;
}

footer{
    margin-top: 40px;
}

.canciones-recomendadas{
    padding-top: 50px;
}

i{
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: #000000;
}

.titulos-canciones{
    display: grid;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh;
    align-items: center;
}

.titulos-canciones .titulo{
    border-bottom: solid 3px #000000;
    font-size: 23px;
}

.canciones-recomendadas ul{
    list-style: none;
}



.titulo{
    display: grid;
    grid-template-columns: 80% 20%;
}

@media only screen and (min-width: 320px){
    .canciones-recomendadas{
        display: none;
    }
}

@media only screen and (min-width: 768px){
   .track{
       height: 60vh;
       margin-top: 30px;
   }

   h1{
       font-size: 50px;
       margin-left: 200px;
   }

   .info-track{
       margin-top: 90px;
       height: 60vh;
       gap: 20px;
   }

   .track-image{
    width: 75%;
    padding-left: 90px;
}

.info p{
    font-size: 40px;
    padding-left: 45px;
    padding-top: 20px;
}
.cancion div i{
    padding-left: 30px;
}
.cancion audio{
    width: 100%;
}

}

@media only screen and (min-width: 1024px){
 .todo{
     box-sizing: border-box;
     display: grid;
     grid-template-columns: 60% 30%;
     gap: 30px;

 }

 h1{
     font-size: 45px;
     margin-left: 180px;
 }
    .canciones-recomendadas{
        display: block
    }

    .canciones-recomendadas ul li{
        font-size: 20px;
    }

    .track{
        height: 85vh;
    }

    .info-track{
        height: 60vh;
        margin-top: 45px;
        display: grid;
        grid-template-rows: 60% 20% 20%;
        gap: 0px
    }
    .track-image{
        width: 64%;
        padding-left: 130px;
    }
    .info p{
font-size: 30px;
    }
}

@media only screen and (min-width: 1440px){
    h1{
        font-size: 45px;
        margin-left: 260px;
    }
    .info-track{
        height: 73vh;
        display: grid;
        grid-template-rows: 62% 19% 10%;
        gap: 0px;
    }
    .track-image{
        width: 55%;
        padding-left: 160px;
        padding-top: 40px;
    }
    .info{
        width: 95%;
    }
}